body{
    font-family: "Noto Sans", sans-serif;
}
h1{
    font-size: 70px;
    font-weight: 1000;
    font-family: "Oswald", sans-serif;
}
p{
    font-size: 30px;
}
button{
    background-color: blue;
    color: white;
    font-size: 15px;
    border: 1px solid black;
    padding: 30px 85px;
    transition: background-color 0.4s;
}

button:hover{
    background-color: green;
}